/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family);
  font-variation-settings: 'wdth' var(--font-regular);
  background-color: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color);
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-block: 100px 100px;
  border: 2px solid var(--color);
  background-color: var(--background);
  font-weight: var(--font-regular);
  text-transform: uppercase;
  font-size: 32px;
}

.inline-size {
  inline-size: var(--element-inline-size);
}

.header__title {
  margin-block-start: 137px;
  margin-block-end: clamp(10px, 20px, 30px);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__text {
  padding-block-end: clamp(15px, 25px, 30px);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 27px;
  padding-block-end: 25px;
  gap: clamp(10px, 13px, 15px);
}

.theme-menu__item {
  position: relative;
  width: min-content;
}

.theme-menu__button {
  display: flex;
  border: none;
  padding: 0 10px 0px 0px;
  transition: opacity 0.3s ease;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--color);
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  top: 15px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, width 0.3s ease;
  background-color: var(--color);
}

.theme-menu__button:focus-visible::after {
  width: 86%;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset: 1px 0 0 -108px;
  animation: inf 0.5s ease-in-out infinite alternate;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color);
  background-color: var(--background);
  font-family: var(--second-family);
}

.card__title {
  padding-inline: 10px;
  padding-block: 5px;
  border-bottom: 2px solid var(--color);
  font-variation-settings: 'wdth'var(--font-bold);
  font-size: clamp(15px, 18px, 23px);
  color: var(--color);
}

.card__image-box {
  position: relative;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 14px;
  color: var(--color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--background),
    0 1px var(--background),
    1px 0 var(--background),
    0 -1px var(--background);
}

@supports((text-stroke: 1px var(--background)) or (-webkit-text-stroke: 1px var(--background))) {
  .card__image-label {
    text-stroke: 1px var(--background);
    -webkit-text-stroke: 1px var(--background);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  padding-inline: clamp(23px, 25px, 28px);
  padding-block-end: clamp(23px, 25px, 28px);
  font-variation-settings: 'wdth'var(--font-regular);
  font-size: clamp(15px, 18px, 20px);
  line-height: 117%;
  color: var(--color);
}

.card__text:first-of-type {
  border-top: 2px solid var(--color);
  padding-block: clamp(24px, 26px, 30px) clamp(24px, 27px, 31px);
}

.card__button-box {
  display: flex;
  align-self: end;
  padding-inline-end: 25px;
  padding-block-end: 24px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 36px;
  padding: 5px 7px 0 0;
  background: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  color: var(--color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color);
}

/*  Сердце */

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .main-body {
  fill: var(--color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.04s linear;
}

.contour {
  fill: var(--color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.06s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  animation: like-icon-scale 0.3s 0.1s ease-in alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: like-icon-sparks 0.3s 0.3s ease-in alternate;
  transform-origin: center;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 36px;
  background: transparent;
  border: 2px solid var(--color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  background: var(--color);
}

.card__like-button:hover::before {
  width: 100%;
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--color);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 14px;
  line-height: 90%;
  color: var(--accept-color);
  mix-blend-mode: difference;
}

/* Фильтры*/

.filter-saturate {
  filter: saturate(40%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-hue-contrast {
  filter: hue-rotate(-90deg) contrast(200%);
}

.filter-sefia {
  filter: sepia(75%);
}

.filter-blur {
  filter: blur(8px);
}

/* footer */

.footer {
  margin-block: 49px 102px;
}

.footer__button {
  position: relative;
  padding-inline: 16px;
  padding-block: 16px;
  border: 2px solid var(--color);
  transition: box-shadow 0.3s ease;
  background: var(--background);
  color: var(--color);
}

.footer__button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  background: var(--color);
}

.footer__button:hover::before {
  width: 100%;
  transform: scaleX(1);
}


.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px var(--color);
}

.footer__svg {
  width: 21px;
  height: 21px;
  color: var(--accept-color);
  mix-blend-mode: difference;
}

.footer__dialog[open] {
  position: fixed;
  display: grid;
  grid-template-rows: min-content min-content;
  width: 353px;
  gap: 30px 20px;
  padding: 31.5px 32.5px 30.5px 31.5px;
  color: var(--color);
  background-color: var(--background);
}

.footer__dialog::backdrop {
  background-color: var(--background);
  opacity: 0.75;
}

.footer__svg-dialog {
  grid-row-start: 1;
  align-self: center;
  width: 39px;
  height: 39px;
  color: var(--color);
}

.footer__dialog-text {
  grid-row-start: 1;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.footer__dialog-button {
  grid-column-end: span 2;
  padding-block: 9px;
}


/* Media */

@media (width <=375px) {

  .main {
    gap: 50px;
  }

  .header__title {
    margin-block-start: 122px; 
  }

  .card__image-label {
    right: 12px;
  }

  .card__button-box {
    padding-block-end: 25px;
  }

  .footer {
    margin-top: 53px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 18px;
    padding-block: 14.5px;
  }

  .footer__svg {
    width: 29px;
    height: 29px;
    margin-block-end: 8px;
  }

  .footer__dialog[open] {
    max-width: 341px;
    padding: 32px 39px;
  }

  .footer__dialog-button {
    grid-column-end: span 2;
    padding-block: 11px;
  }

}